*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: white;
}
header a{
    display: flex;
    width: 100%;
    justify-content: start;
    position: fixed;
    text-decoration: none;
    color: rgb(255, 0, 255);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.5s ease-in-out;
}
header a:hover{
    transform: scale(1.02);
}

header h1{
   
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
section h2{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
section h3{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
    
}
section .images{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

section .images img{
    width: 300px;
    height: 200px;
    transition: 0.5s ease-in;
    border-radius: 8% ;
    margin: 20px 0;
   
}
section .images img:hover{
    transform: scale(1.1);
}